/* .site-details__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .site-details__modal-content {
    padding: 0;
  } */

.siteItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.siteItem {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.siteItem:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.siteItem__link{
  float: right;
}

.siteItem__link,
.siteItem__exit,
.siteItem__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.siteItem__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.siteItem__link:hover::after {
  width: 100%;
}

.siteItem__exit {
  grid-row: 1/2;
  justify-self: end;
}

.siteItem__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.siteItem__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.siteItem__description {
  grid-row: 4/5;
  font-weight: 100;
  color: wheat;
}

.siteItem__apply {
  grid-row: 5/5;
  align-self: center;
  display: felx;
}

.siteItem-1 {
  background:radial-gradient(#464848, #9ca19f);
}

.siteItem__detail{
  color: white;
}

@media (max-width: 1600px) {
  .siteItems {
    justify-content: center;
  }
}
